@page "/"

@inject AuthenticationStateProvider AuthenticationStateProvider


<div id="main_image">
    <img src="images/main.png" alt="main" />
</div>


<button @onclick="@LogUsername">Check Auth Status</button>

<p><strong>@userAuthStatus</strong></p>

@code {

    string userAuthStatus = "User is not authenticated.";

    private async Task LogUsername()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userAuthStatus =  $"{user.Identity.Name} is authenticated.";
        }
        else
        {
            userAuthStatus = "User is not authenticated.";
        }
    }
}
